.container {
  height: 100vh;        
  overflow-y: auto;     
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  color: #079aa5;
}
.refreshBtn{
  color: gray;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.hourly {
  margin-top: 1.5rem;
}

.hourlyTitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #024c51;
}

.hourlyList {
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  padding-bottom: 0.5rem;
}

.hourlyList::-webkit-scrollbar {
  display: none;
}

.hour {
  min-width: 70px;
  background: #ffffff;
  border-radius: 12px;
  padding: 0.6rem 0.4rem;
  text-align: center;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}

.time {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0.2rem;
}

.temp {
  font-size: 0.9rem;
  font-weight: 600;
  color: #024c51;
}

