.container {
  height: 100dvh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 420px;
  margin: 0 auto;
  background-color: #f2e5d5;
}
@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    padding-top: 20vh;
  }
}

.title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #079aa5;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: rgb(99, 98, 98);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.field label {
  font-size: 0.9rem;
  color: #079aa5;
}

.field input {
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #079aa5;
  font-size: 1rem;
  color: rgb(99, 98, 98);
  outline: none;
}

.field input:focus {
  border-color: #024c51;
  box-shadow: 0 0 0 2px rgba(3, 104, 111, 0.2);
}

.button {
  margin-top: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  background: #079aa5;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover{
  opacity: 0.9;
}
.button:active{
  opacity: 0.8;
}
.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
