.app {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
}

.header {
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.current,
.details,
.hourly {
  background: white;
  padding: 1rem;
  border-radius: 12px;
}
.details{
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .main {
    flex-direction: row;
  }

  .current,
  .details {
    flex: 1;
  }
}
